// $first-color: #FF715B;
// $second-color: #1EA896;
// $tertiary-color: rgb(63, 63, 63);
// $fourth-color: #FFFfff;
// $fifth-color: rgb(44, 44, 44);
// $sixth-color: rgb(105, 105, 105);
// $seventh-color: rgb(180, 180, 180);
// $eigth-color: rgb(107, 177, 167);
// $nineth-color: rgb(131, 131, 131);
// $tenth-color: rgb(81, 133, 124);

$first-color: rgb(33, 180, 161);
$second-color: rgb(37, 211, 188);
$tertiary-color: rgb(63, 63, 63);
$fourth-color: #fff;
$fifth-color: rgb(31, 31, 31);
$sixth-color: rgb(105, 105, 105);
$seventh-color: rgb(180, 180, 180);
$eigth-color: rgb(29, 163, 145);
$nineth-color: rgb(131, 131, 131);
$tenth-color: rgb(55, 134, 124);
$text-color: #fff;
$border-color-h3: rgb(161, 161, 161);